/*
FONTS LOOP
 */

@font-face {
  font-family: 'Raleway-Medium';
  src:  url('../fonts/Raleway-Medium.woff') format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway-Bold';
  src:  url('../fonts/Raleway-Bold.woff') format("woff");
  font-weight: 600;
}