body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow-y: hidden;
}
main {
  margin-top: auto;
  section{
    &.contacts {
      height: calc(100vh - 228px);
      #myMap{
        width: 100%;
        height: 100%  ;
        position: relative;
        z-index: 3;
        canvas{
          filter: grayscale(1);
        }
        &.lazy-map{
          background-image: url("../img/map.jpg");
          background-position: top left;
          background-size: cover;
        }
      }

      .contacts-content {
        position: relative;
        width: 100%;
        height: 100%;
        &--communication {
          position: absolute;
          background: rgba(255, 255, 255, 0.45);
          backdrop-filter: blur(8px);
          border-radius: 0px 8px 0px 0px;
          left: 0;
          bottom: 0;
          padding: 36px 32px;
          width: 300px;
          height: 255px;
          z-index: 4;
          ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
              display: flex;
              align-items: center;
              &:hover{
                svg{
                  transform: rotate(360deg);
                }
                a{
                  color: #ff5a5f;
                }
              }
              svg {
                min-width: 32px;
                min-height: 32px;
                transition: 0.4s;
                circle {

                }

                path {

                }
              }

              p, a{
                padding: 0 0 0 24px;
                font: 14px/24px $rm;
                color: #212121;
                text-decoration: none;
              }
            }
          }
        }
        &--form__container{
          position: absolute;
          top: -91px;
          right: 0;
          width: 100%;
          height: 100%;
          .contacts-content--form {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 8px 8px 0px 0px;
            width: 416px;
            position: absolute;
            top: 0;
            right: 0;
            padding: 36px 48px 40px;
            z-index: 3;

            h2 {
              padding: 0;
              color: #000000;
              font: 36px/1 $rb;
            }

            form {
              width: 100%;
              margin-top: 38px;
              height: 618px;
              max-height: 602px;
              position: relative;
              .input-row {
                display: flex;
                flex-direction: column;
                margin-bottom: 28px;
                position: relative;
                p{
                  position: absolute;
                  right: 0;
                  color: #FF5A5F;
                  padding: 0;
                  opacity: 0;
                  top: 0;
                  font: 12px/1 $rb;
                }
                label {
                  font: 12px/1 $rb;
                  text-transform: uppercase;
                  letter-spacing: 0.08em;
                  color: #484848;
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  input{
                    margin-top: 8px;
                  }
                  &.is-active{
                    &:before{
                      opacity: 1;
                    }
                  }
                  &:focus{
                    &:before{
                      opacity: 1;
                    }
                  }
                  &:before{
                    background: #5A6BFF;
                    border-radius: 8px 0px 0px 8px;
                    width: 2px;
                    left: 1px;
                    top: 21px;
                    opacity: 0;
                    height: calc(100% - 22px);
                    bottom: 1px;
                    position: absolute;
                    content:'';
                  }
                }
                input{
                  width: 100%;
                  font: 16px/1 $rm;
                  color: #212121;
                  padding: 14px 16px;
                  border: 1px solid #EBEBEB;
                  border-radius: 4px;
                  &::placeholder{
                    color: #A6A6A6;
                  }

                }
                textarea{
                  font: 16px/1 $rm;
                  color: #212121;
                  padding: 14px 16px;
                  margin-top: 8px;
                  border: 1px solid #EBEBEB;
                  border-radius: 4px;
                  max-height: 115px;
                  height: 115px;
                  overflow-y: auto;
                  resize: none;
                  &::placeholder{
                    color: #A6A6A6;
                  }
                }
                .select2-container{
                  margin-top: 8px;
                  position: relative;
                  &.is-active{
                    &:before{
                      opacity: 1;
                    }
                  }
                  &:before{
                    background: #5A6BFF;
                    border-radius: 8px 0px 0px 8px;
                    width: 2px;
                    left: 1px;
                    top: 0px;
                    opacity: 0;
                    height: 100%;
                    bottom: 1px;
                    position: absolute;
                    content:'';
                  }
                  &--default{
                    .select2-selection--single{
                      border: 1px solid #EBEBEB;
                      height: auto;
                    }
                    .select2-selection--single .select2-selection__arrow {
                      height: 26px;
                      position: absolute;
                      top: calc(50% - 13px);
                      right: 16px;
                      width: 8px;
                      transition: 0.2s;
                    }

                    .select2-selection__rendered{
                      padding: 14px 16px;
                      font: 16px/1 $rm;
                      color: #212121;
                    }

                  }
                }
                &.error{
                  p{
                    opacity: 1;
                  }
                  input{
                    border: 1px solid #FF5A5F;
                  }
                  label{
                    &:before{
                      opacity: 0;
                    }
                  }
                }
              }
              .button-box{
                position: relative;
                button {
                  background: #FF5A5F;
                  color: #FFFFFF ;
                  border: 1px solid #FF5A5F;
                  border-radius: 4px;
                  font: 16px/1 $rb;
                  display: flex;
                  align-items: center;
                  width: 100%;
                  justify-content: center;
                  height: 52px;
                  &:hover{
                    background: #fff;
                    color: #333;
                  }
                }
                .lds-roller {
                  display: none;
                  position: absolute;
                  width:80px;
                  top: -12px;
                  left: calc(50% - 40px);
                  height: 80px;
                  transform: scale(0.5);
                  div {
                    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                    transform-origin: 40px 40px;
                    &:after {
                      content: " ";
                      display: block;
                      position: absolute;
                      width: 7px;
                      height: 7px;
                      border-radius: 50%;
                      background: #fff;
                      margin: -4px 0 0 -4px;
                    }
                    &:nth-child(1) {
                      animation-delay: -0.036s;
                    }
                    &:nth-child(1):after {
                      top: 63px;
                      left: 63px;
                    }
                    &:nth-child(2) {
                      animation-delay: -0.072s;
                    }
                    &:nth-child(2):after {
                      top: 68px;
                      left: 56px;
                    }
                    &:nth-child(3) {
                      animation-delay: -0.108s;
                    }
                    &:nth-child(3):after {
                      top: 71px;
                      left: 48px;
                    }
                    &:nth-child(4) {
                      animation-delay: -0.144s;
                    }
                    &:nth-child(4):after {
                      top: 72px;
                      left: 40px;
                    }
                    &:nth-child(5) {
                      animation-delay: -0.18s;
                    }
                    &:nth-child(5):after {
                      top: 71px;
                      left: 32px;
                    }
                    &:nth-child(6) {
                      animation-delay: -0.216s;
                    }
                    &:nth-child(6):after {
                      top: 68px;
                      left: 24px;
                    }
                    &:nth-child(7) {
                      animation-delay: -0.252s;
                    }
                    &:nth-child(7):after {
                      top: 63px;
                      left: 17px;
                    }
                    &:nth-child(8) {
                      animation-delay: -0.288s;
                    }
                    &:nth-child(8):after {
                      top: 56px;
                      left: 12px;
                    }
                  }
                }
                &.preloader{
                  button{
                    color: transparent;
                    &:hover{
                      background: #FF5A5F;
                    }
                  }
                  .lds-roller{
                    display: flex;
                  }
                }

              }

            }
            .successful-sending{
              height: 100%;
              flex-direction: column;
              justify-content: center;
              background: #FFFFFF;
              display: none;
              position: absolute;
              width:320px;
              top: 0;
              left: calc(50% - 320px / 2 );
              &.is-active{
                display: flex;
              }
              h2{
                font:32px/38px $rb ;
                text-align: center;
                padding-top: 40px;
                color: #000000;
                padding-bottom: 26px;
              }
              p{
                text-align: center;
                font:16px/24px $rm ;
                color: #212121;
              }
              a{
                border: 1px solid #000000;
                border-radius: 4px;
                display: block;
                width: 100%;
                height: 52px;
                position: relative;
                text-decoration: none;
                overflow: hidden;
                &:before, &:after{
                  content: attr(data-text);
                  position: absolute;
                  left: 0;
                  top: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  font: 16px/1 $rb;
                  color: #212121;
                  transition: .2s ease-in-out;
                }
                &:after{
                  transform: translateY(100%);
                }
                &:hover{
                  &:before{
                    transform: translateY(-100%);
                  }
                  &:after{
                    transform: translateY(0);
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
span.select2-dropdown.select2-dropdown--below{
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 15px 46px rgba(26, 26, 29, 0.12);
  border-radius: 4px;
}

.select2-container--default .select2-results>.select2-results__options{
  li{
    display: flex;
    align-items: center;
    color: #212121;
    font: 16px $rm;
    height: 44px;
    padding: 0 16px;
    &:hover{
      background-color: #F7F7F7!important;
      color: #5A6BFF!important;
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
