.view-header {
  position: relative;
  width: 100%;
  order: 1;
}

header {
  padding-top: 46px;
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      a {

        svg {

        }
      }
    }

    &--navigation {
      display: flex;
      align-items: center;

      nav {
        ul {
          display: flex;
          align-items: center;

          li {
            padding: 16px 28px;

            &.is-active {
              a {
                color: #FF5A5F;

                &:before {
                  width: 100%;
                  transform: scalex(1);
                  background-color: #FF5A5F;
                }
              }
            }

            a {
              text-decoration: none;
              color: #212121;
              font: 16px/1 $rm;
              position: relative;

              &:before {
                content: '';
                position: absolute;
                bottom: 0;
                transition: 0.2s;
                left: 0;
                width: 0%;
                transform: scaleY(0);
                height: 1px;
                background-color: #212121;
              }

              &:hover {
                &:before {
                  width: 100%;
                  transform: scalex(1);
                }
              }
            }
          }
        }
      }

      .sign-up {
        color: #FFFFFF;
        font-family: $rb;
        background: #FF5A5F;
        display: flex;
        align-items: center;
        border-radius: 4px;
        text-decoration: none;
        padding: 14px 26px;
        margin-left: 32px;
        border: 1px solid #FF5A5F;
        transition: 0.2s;

        &:hover {
          background: #FFF;
          color: #333333;
        }
      }
    }

  }
}