<% var data = {
title: "Contacts",
author: "Valeriy"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<main>
    <section class="contacts">
        <div class="contacts-content">
            <div id="myMap" class="lazy-map" style="width: 100%;"></div>
            <div class="contacts-content--communication">
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <circle cx="16" cy="16" r="16" fill="#4D4D4D"/>
                            <path d="M16.1006 7.32585C12.7922 7.32585 10.1006 10.1419 10.1006 13.6033C10.1006 17.899 15.47 24.2053 15.6986 24.4717C15.9133 24.7219 16.2882 24.7215 16.5026 24.4717C16.7312 24.2053 22.1006 17.899 22.1006 13.6033C22.1005 10.1419 19.409 7.32585 16.1006 7.32585ZM16.1006 16.7617C14.436 16.7617 13.0819 15.3448 13.0819 13.6033C13.0819 11.8618 14.4361 10.445 16.1006 10.445C17.7651 10.445 19.1193 11.8618 19.1193 13.6033C19.1193 15.3449 17.7651 16.7617 16.1006 16.7617Z" fill="white"/>
                        </svg>
                        <p>888 Brannan Street, in San Francisco, California</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <circle cx="16" cy="16" r="16" fill="#4C4C4C"/>
                            <path d="M11.2178 14.9244C12.4978 17.44 14.56 19.4933 17.0756 20.7822L19.0311 18.8267C19.2711 18.5867 19.6267 18.5067 19.9378 18.6133C20.9333 18.9422 22.0089 19.12 23.1111 19.12C23.6 19.12 24 19.52 24 20.0089V23.1111C24 23.6 23.6 24 23.1111 24C14.7644 24 8 17.2356 8 8.88889C8 8.4 8.4 8 8.88889 8H12C12.4889 8 12.8889 8.4 12.8889 8.88889C12.8889 10 13.0667 11.0667 13.3956 12.0622C13.4933 12.3733 13.4222 12.72 13.1733 12.9689L11.2178 14.9244Z" fill="white"/>
                        </svg>
                        <a href="tel:10390320384">+1 (039) 032 03 84</a></li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <circle cx="16" cy="16" r="16" fill="#4C4C4C"/>
                            <path d="M22.933 8.66666H9.06634C8.11301 8.66666 7.34167 9.49166 7.34167 10.5L7.33301 21.5C7.33301 22.5083 8.11301 23.3333 9.06634 23.3333H22.933C23.8863 23.3333 24.6663 22.5083 24.6663 21.5V10.5C24.6663 9.49166 23.8863 8.66666 22.933 8.66666ZM22.933 12.3333L15.9997 16.9167L9.06634 12.3333V10.5L15.9997 15.0833L22.933 10.5V12.3333Z" fill="white"/>
                        </svg>
                        <a href="mailto:info@airbnb.com">info@airbnb.com</a></li>
                </ul>
            </div>
            <div class="contacts-content--form__container">
                <div class="container">
                    <div class="contacts-content--form">
                        <h2>
                            Contact Us
                        </h2>
                        <form id="contactUs" action="" method="get">
                            <div class="input-row">
                                <label for="subject"> Subject</label>
                                <select class="js-example-basic-single" id="subject" name="state">
                                    <option value="Work opportunities">Work opportunities</option>
                                    <option value="Questions about product">Questions about product</option>
                                    <option value="Сooperation">Сooperation</option>
                                    <option value="Other">Othert</option>
                                </select>
                            </div>
                            <div class="input-row">
                                <label for="name">NAME
                                    <input pattern="^([^0-9]*)$" class="login" placeholder="Enter your name..." type="text" name="name" id="name">
                                </label>
                                    <p>Не верный формат</p>
                            </div>
                            <div class="input-row">
                                <label for="tel">Phone number
                                    <input class="" placeholder="Enter your phone number..." type="number" name="phone" id="tel">
                                </label>

                                <p>Не верный формат</p>
                            </div>
                            <div class="input-row">
                                <label for="email" >EMAIL
                                    <input placeholder="Enter your email address..." type="email" name="name" id="email">
                                </label>

                                <p>Не верный формат</p>
                            </div>
                            <div class="input-row">
                                <label for="message">message
                                    <textarea name="message" id="message" placeholder="Your message..."></textarea>
                                </label>
                            </div>
                            <div class="button-box">
                                <button type="submit">Send</button>
                                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>

                        </form>
                        <div class="successful-sending">
                            <svg xmlns="http://www.w3.org/2000/svg" width="295" height="245" viewBox="0 0 295 245" fill="none">
                                <g clip-path="url(#clip0)">
                                    <path d="M330 215.279H0V215.411H330V215.279Z" fill="#E0E0E0"/>
                                    <path d="M249.282 222.249H226.578V222.381H249.282V222.249Z" fill="#E0E0E0"/>
                                    <path d="M73.3255 222.381H60.5215V222.512H73.3255V222.381Z" fill="#E0E0E0"/>
                                    <path d="M165.66 221.986H139.788V222.118H165.66V221.986Z" fill="#E0E0E0"/>
                                    <path d="M139.062 219.619H127.512V219.75H139.062V219.619Z" fill="#E0E0E0"/>
                                    <path d="M280.236 219.685H245.256V219.816H280.236V219.685Z" fill="#E0E0E0"/>
                                    <path d="M289.938 133.021C281.82 120.725 289.212 107.442 288.024 93.7654C286.77 80.0886 273.702 77.0639 276.21 65.4911C279.048 52.0115 271.458 39.1237 262.812 39.1237C254.166 39.1237 246.51 52.0773 249.414 65.4911C251.856 77.1296 238.788 80.0886 237.6 93.7654C236.346 107.442 243.804 120.725 235.686 133.021C227.569 145.317 229.68 161.624 234.3 169.711C235.554 171.947 237.072 173.92 238.656 175.629C251.658 189.635 274.164 189.635 287.166 175.629C288.816 173.854 290.268 171.881 291.522 169.711C295.944 161.624 298.056 145.317 289.938 133.021Z" fill="#E0E0E0"/>
                                    <path d="M266.838 215.279H258.654V146.435C258.654 144.199 260.502 142.358 262.746 142.358C264.99 142.358 266.838 144.199 266.838 146.435V215.279Z" fill="#F0F0F0"/>
                                    <path d="M211.133 215.279H199.979V146.435C199.979 143.344 202.487 140.845 205.589 140.845C208.691 140.845 211.199 143.344 211.199 146.435V215.279H211.133Z" fill="#E0E0E0"/>
                                    <path d="M205.523 196.736C224.551 196.736 239.975 181.369 239.975 162.413C239.975 143.456 224.551 128.089 205.523 128.089C186.496 128.089 171.071 143.456 171.071 162.413C171.071 181.369 186.496 196.736 205.523 196.736Z" fill="#F0F0F0"/>
                                    <path d="M246.025 152.141C247.836 144.881 243.396 137.533 236.108 135.73C228.821 133.926 221.446 138.349 219.635 145.61C217.825 152.87 222.265 160.218 229.552 162.021C236.84 163.825 244.215 159.401 246.025 152.141Z" fill="#F0F0F0"/>
                                    <path d="M185.694 142.143C186.409 137.77 183.431 133.648 179.042 132.935C174.653 132.223 170.515 135.19 169.8 139.563C169.085 143.936 172.063 148.058 176.452 148.771C180.841 149.483 184.979 146.516 185.694 142.143Z" fill="#F0F0F0"/>
                                    <path d="M186.45 142.292C189.548 142.292 192.06 139.79 192.06 136.703C192.06 133.616 189.548 131.114 186.45 131.114C183.352 131.114 180.84 133.616 180.84 136.703C180.84 139.79 183.352 142.292 186.45 142.292Z" fill="#F0F0F0"/>
                                    <path d="M134.64 174.183C128.898 175.038 123.948 177.076 119.658 179.903C119.592 174.709 118.668 169.777 116.226 165.766C112.464 169.383 109.494 174.117 106.986 179.114C106.062 169.646 103.554 160.44 98.0103 154.588C89.6943 159.783 85.4043 168.462 83.4243 177.602C80.1243 171.75 75.5703 166.292 69.2343 162.347C64.1523 167.673 62.5683 175.038 62.7003 182.599C56.9583 175.892 50.5563 170.698 44.2863 170.106C42.7683 180.692 46.0023 190.687 50.1603 198.578C55.6383 208.901 66.4623 215.279 78.2103 215.279H105.336C116.886 215.279 127.71 209.164 133.122 198.972C136.554 192.528 138.204 184.243 134.64 174.183Z" fill="#E0E0E0"/>
                                    <path d="M126.918 37.6114C130.284 27.814 127.578 20.8441 119.394 20.8441C114.246 20.8441 107.91 23.6057 101.706 28.077C100.98 25.5126 99.0002 24.0003 95.8322 24.0003C90.2222 24.0003 82.5662 28.7346 76.4942 35.3757C75.0422 33.8634 72.9302 33.0086 70.2242 32.8113C64.8782 32.4826 58.4102 35.2442 52.8002 39.6498C52.3382 38.9265 51.4802 38.4662 50.2922 38.4004C47.1902 38.2032 43.0322 40.9648 40.9862 44.5156C40.8542 44.7128 40.7222 44.9758 40.6562 45.1731H47.0583H52.1402H69.8282H78.5402H85.3382H95.7002H97.6142H123.42H128.502C128.766 42.0169 128.238 39.4525 126.918 37.6114Z" fill="#F0F0F0"/>
                                    <path d="M127.182 96.9874C128.832 92.1873 127.512 88.8339 123.486 88.8339C120.978 88.8339 117.876 90.149 114.84 92.3188C114.51 91.0695 113.52 90.3462 112.002 90.3462C109.296 90.3462 105.534 92.6476 102.564 95.8696C101.838 95.1463 100.848 94.686 99.4618 94.6202C96.8218 94.4887 93.6538 95.8038 90.9478 97.9737C90.6838 97.6449 90.2878 97.3819 89.7598 97.3819C88.2418 97.3162 86.1958 98.6313 85.2058 100.341C85.1398 100.472 85.0738 100.538 85.0078 100.67H88.1098H90.6178H99.2638H103.488H106.788H111.87H112.794H125.4H127.908C128.106 99.1573 127.842 97.8422 127.182 96.9874Z" fill="#F0F0F0"/>
                                    <path d="M226.248 60.8226C225.918 60.7568 225.588 60.7568 225.258 60.7568C225.588 55.9568 223.74 52.9321 219.846 52.9321C217.008 52.9321 213.576 54.5102 210.012 57.2061C211.002 47.9348 207.768 41.9512 200.442 41.9512C194.568 41.9512 187.044 45.8964 179.652 52.2746C178.992 48.6581 176.814 46.4882 173.184 46.4882C166.782 46.4882 157.608 53.1951 150.348 62.7295C148.764 60.6253 146.388 59.3103 143.286 59.113C137.148 58.6527 129.558 62.5322 122.826 68.8446C122.298 67.7925 121.374 67.135 120.054 67.0035C116.688 66.7405 112.068 70.2254 109.428 74.894H117.216H122.496H142.824H152.328H160.842H172.92H195.69H204.534H207.702H220.308H231.66C234.498 67.7925 232.188 61.6774 226.248 60.8226Z" fill="#F0F0F0"/>
                                    <path d="M165 245C235.678 245 292.974 241.673 292.974 237.57C292.974 233.466 235.678 230.14 165 230.14C94.3223 230.14 37.0264 233.466 37.0264 237.57C37.0264 241.673 94.3223 245 165 245Z" fill="#F5F5F5"/>
                                    <path d="M32.2734 62.861L182.687 84.4283L202.883 104.746L32.2734 62.861Z" fill="#407BFF"/>
                                    <path opacity="0.6" d="M32.2734 62.861L182.687 84.4283L202.883 104.746L32.2734 62.861Z" fill="white"/>
                                    <path d="M32.2734 62.861L182.687 84.4283L175.691 113.82L32.2734 62.861Z" fill="#407BFF"/>
                                    <path opacity="0.2" d="M32.2734 62.861L182.687 84.4283L175.691 113.82L32.2734 62.861Z" fill="black"/>
                                    <path d="M172.656 28.8661L181.368 69.6337C181.83 71.8693 180.444 74.0392 178.2 74.4995L100.254 91.0695C98.0098 91.5298 95.8318 90.1489 95.3698 87.9133L86.6578 47.1457C86.3938 45.9622 86.6578 44.8443 87.3178 43.9238C87.9118 43.1347 88.7698 42.4772 89.8258 42.2799L167.772 25.7099C168.828 25.5126 169.884 25.7099 170.742 26.2359C171.666 26.7619 172.392 27.7483 172.656 28.8661Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M172.656 28.8661L181.368 69.6337C181.83 71.8693 180.444 74.0392 178.2 74.4995L100.254 91.0695C98.0098 91.5298 95.8318 90.1489 95.3698 87.9133L86.6578 47.1457C86.3938 45.9622 86.6578 44.8443 87.3178 43.9238C87.9118 43.1347 88.7698 42.4772 89.8258 42.2799L167.772 25.7099C168.828 25.5126 169.884 25.7099 170.742 26.2359C171.666 26.7619 172.392 27.7483 172.656 28.8661Z" fill="black"/>
                                    <path d="M170.741 26.2359L144.671 58.0609C139.721 64.1103 131.141 65.9514 124.145 62.4007L87.3174 43.9238C87.9114 43.1347 88.7694 42.4772 89.8254 42.2799L167.771 25.7099C168.827 25.5126 169.883 25.7099 170.741 26.2359Z" fill="#407BFF"/>
                                    <path d="M32.2734 62.861L156.353 92.2531L175.691 113.82L32.2734 62.861Z" fill="#407BFF"/>
                                    <path opacity="0.6" d="M32.2734 62.861L156.353 92.2531L175.691 113.82L32.2734 62.861Z" fill="white"/>
                                    <path d="M77.5153 91.1662L77.1816 91.7336L90.9623 99.7773L91.2959 99.21L77.5153 91.1662Z" fill="#407BFF"/>
                                    <path d="M97.3952 102.818L97.0615 103.386L102.016 106.277L102.349 105.71L97.3952 102.818Z" fill="#407BFF"/>
                                    <path d="M32.2734 62.861L156.353 92.2531L132.197 121.251L32.2734 62.861Z" fill="#407BFF"/>
                                    <path d="M198.264 131.706C198.132 131.706 197.934 131.706 197.802 131.64L177.54 123.618C176.88 123.355 176.55 122.566 176.814 121.908C177.078 121.251 177.87 120.922 178.53 121.185L198.726 129.141C199.386 129.404 199.716 130.193 199.452 130.851C199.254 131.377 198.792 131.706 198.264 131.706Z" fill="#407BFF"/>
                                    <path opacity="0.3" d="M198.264 131.706C198.132 131.706 197.934 131.706 197.802 131.64L177.54 123.618C176.88 123.355 176.55 122.566 176.814 121.908C177.078 121.251 177.87 120.922 178.53 121.185L198.726 129.141C199.386 129.404 199.716 130.193 199.452 130.851C199.254 131.377 198.792 131.706 198.264 131.706Z" fill="black"/>
                                    <path d="M197.075 120.133C196.943 120.133 196.745 120.133 196.613 120.067L185.723 115.793C185.063 115.53 184.733 114.741 184.997 114.083C185.261 113.426 186.053 113.097 186.713 113.36L197.603 117.634C198.263 117.897 198.593 118.686 198.329 119.344C198.065 119.87 197.603 120.133 197.075 120.133Z" fill="#407BFF"/>
                                    <path opacity="0.5" d="M197.075 120.133C196.943 120.133 196.745 120.133 196.613 120.067L185.723 115.793C185.063 115.53 184.733 114.741 184.997 114.083C185.261 113.426 186.053 113.097 186.713 113.36L197.603 117.634C198.263 117.897 198.593 118.686 198.329 119.344C198.065 119.87 197.603 120.133 197.075 120.133Z" fill="white"/>
                                    <path d="M174.372 131.508C174.24 131.508 174.042 131.508 173.91 131.443L154.176 123.618C153.516 123.355 153.186 122.566 153.45 121.908C153.714 121.251 154.506 120.922 155.166 121.185L174.9 128.944C175.56 129.207 175.89 129.996 175.626 130.654C175.362 131.18 174.9 131.508 174.372 131.508Z" fill="#407BFF"/>
                                    <path opacity="0.3" d="M174.372 131.508C174.24 131.508 174.042 131.508 173.91 131.443L154.176 123.618C153.516 123.355 153.186 122.566 153.45 121.908C153.714 121.251 154.506 120.922 155.166 121.185L174.9 128.944C175.56 129.207 175.89 129.996 175.626 130.654C175.362 131.18 174.9 131.508 174.372 131.508Z" fill="black"/>
                                    <path d="M245.717 72.2638C247.433 75.683 249.083 79.0365 250.601 82.5872C252.119 86.0722 253.571 89.6229 254.759 93.3051L255.221 94.686C255.287 94.949 255.419 95.3435 255.485 95.6065C255.551 95.9353 255.617 96.1983 255.617 96.5271C255.815 97.6449 255.815 98.697 255.815 99.7491C255.815 101.787 255.683 103.694 255.551 105.601C255.155 109.415 254.561 113.163 253.769 116.911L250.139 116.516C250.073 112.834 250.073 109.086 249.941 105.404C249.875 103.563 249.743 101.787 249.611 100.078C249.545 99.223 249.347 98.3682 249.215 97.7107C249.149 97.5134 249.149 97.3819 249.083 97.2504C249.017 97.1189 249.017 97.0531 248.951 96.8559L248.423 95.6065C247.037 92.2531 245.519 88.8996 243.935 85.6119L239.117 75.6173L245.717 72.2638Z" fill="#E4897B"/>
                                    <path d="M250.205 115.399L248.489 118.555L253.901 120.067C253.901 120.067 254.957 117.503 253.703 115.53L250.205 115.399Z" fill="#E4897B"/>
                                    <path d="M246.443 123.092L251.459 123.486L253.967 120.001L248.555 118.555L246.443 123.092Z" fill="#E4897B"/>
                                    <path d="M223.013 49.5129C222.947 49.9074 222.683 50.1704 222.419 50.1047C222.155 50.0389 222.023 49.7101 222.089 49.3156C222.155 48.9211 222.419 48.6581 222.683 48.7238C222.947 48.7896 223.079 49.1184 223.013 49.5129Z" fill="#263238"/>
                                    <path d="M222.684 50.1704C222.684 50.1704 221.364 52.2088 220.176 53.0636C220.704 53.8527 221.958 53.7869 221.958 53.7869L222.684 50.1704Z" fill="#DE5753"/>
                                    <path d="M224.862 47.6718C224.796 47.6718 224.73 47.6718 224.664 47.606C224.004 46.8827 223.146 47.0142 223.146 47.0142C223.014 47.0142 222.882 46.9485 222.882 46.817C222.882 46.6854 222.948 46.5539 223.08 46.5539C223.146 46.5539 224.202 46.3567 225.06 47.343C225.126 47.4087 225.126 47.606 225.06 47.6718C224.928 47.6718 224.862 47.6718 224.862 47.6718Z" fill="#263238"/>
                                    <path d="M233.904 54.9047C233.178 58.4555 232.518 64.8994 235.026 67.2665C235.026 67.2665 234.036 70.883 227.436 70.883C220.176 70.883 224.004 67.2665 224.004 67.2665C227.964 66.346 227.832 63.387 227.172 60.6253L233.904 54.9047Z" fill="#E4897B"/>
                                    <path d="M236.015 69.5022C236.543 67.7925 237.137 65.8199 235.949 65.1624C234.629 64.5048 227.435 63.7815 224.993 65.0966C222.551 66.346 223.211 69.8967 223.211 69.8967L236.015 69.5022Z" fill="#263238"/>
                                    <path d="M251.196 233.493C250.668 233.493 250.206 233.427 250.008 233.164C249.942 233.033 249.876 232.901 250.008 232.638C250.074 232.507 250.206 232.441 250.338 232.375C251.064 232.244 252.384 233.099 252.45 233.164C252.516 233.164 252.516 233.23 252.516 233.296C252.516 233.362 252.45 233.362 252.45 233.362C252.252 233.427 251.724 233.493 251.196 233.493ZM250.602 232.572C250.536 232.572 250.536 232.572 250.47 232.572C250.404 232.572 250.272 232.638 250.272 232.704C250.14 232.901 250.206 232.967 250.272 232.967C250.47 233.23 251.46 233.23 252.186 233.098C251.724 232.901 251.064 232.572 250.602 232.572Z" fill="#407BFF"/>
                                    <path d="M252.449 233.361C251.921 233.098 250.931 232.046 250.997 231.455C250.997 231.389 251.063 231.192 251.393 231.126C251.591 231.126 251.723 231.126 251.855 231.257C252.449 231.718 252.515 233.098 252.515 233.164C252.581 233.23 252.581 233.296 252.449 233.361C252.515 233.361 252.515 233.361 252.449 233.361ZM251.459 231.389C251.261 231.389 251.261 231.455 251.261 231.52C251.195 231.849 251.789 232.638 252.317 233.033C252.251 232.638 252.119 231.783 251.723 231.52C251.657 231.389 251.591 231.389 251.459 231.389Z" fill="#407BFF"/>
                                    <path d="M222.09 233.493C221.496 233.493 220.836 233.427 220.638 233.098C220.572 233.033 220.506 232.835 220.638 232.572C220.704 232.441 220.836 232.375 221.034 232.309C221.826 232.112 223.542 233.033 223.608 233.098C223.674 233.098 223.674 233.164 223.674 233.23C223.674 233.296 223.608 233.296 223.608 233.296C223.278 233.427 222.684 233.493 222.09 233.493ZM221.364 232.507C221.298 232.507 221.232 232.507 221.166 232.507C221.034 232.507 220.968 232.572 220.968 232.638C220.902 232.77 220.902 232.835 220.968 232.901C221.166 233.23 222.42 233.23 223.344 233.098C222.75 232.967 221.892 232.507 221.364 232.507Z" fill="#407BFF"/>
                                    <path d="M223.542 233.362C222.882 233.098 221.76 232.046 221.826 231.52C221.826 231.389 221.958 231.257 222.222 231.192C222.486 231.192 222.684 231.257 222.882 231.389C223.476 231.915 223.608 233.164 223.608 233.23C223.608 233.296 223.608 233.296 223.542 233.362C223.608 233.362 223.608 233.362 223.542 233.362ZM222.42 231.389H222.354C222.156 231.389 222.156 231.52 222.156 231.52C222.09 231.849 222.882 232.638 223.476 233.033C223.41 232.638 223.212 231.849 222.816 231.52C222.684 231.455 222.552 231.389 222.42 231.389Z" fill="#407BFF"/>
                                    <path d="M228.888 233.23H224.07L223.542 222.052H228.426L228.888 233.23Z" fill="#E4897B"/>
                                    <path d="M257.993 233.23H253.175L250.733 222.052H255.551L257.993 233.23Z" fill="#E4897B"/>
                                    <path d="M252.846 232.638H258.324C258.522 232.638 258.72 232.77 258.72 232.967L259.71 237.241C259.842 237.701 259.446 238.096 258.984 238.096C257.07 238.096 256.146 237.964 253.77 237.964C252.318 237.964 249.282 238.096 247.236 238.096C245.256 238.096 244.926 236.123 245.784 235.926C249.546 235.137 250.932 234.019 252.12 232.901C252.252 232.77 252.516 232.638 252.846 232.638Z" fill="#263238"/>
                                    <path d="M224.07 232.638H229.35C229.548 232.638 229.746 232.77 229.746 232.967L230.736 237.241C230.868 237.701 230.472 238.096 230.01 238.096C228.096 238.096 225.324 237.964 222.948 237.964C220.11 237.964 217.734 238.096 214.434 238.096C212.454 238.096 211.86 236.123 212.718 235.926C216.48 235.071 219.582 235.005 222.882 232.967C223.278 232.835 223.674 232.638 224.07 232.638Z" fill="#263238"/>
                                    <path d="M221.759 75.7488C217.667 75.42 213.707 74.894 209.681 74.1707C207.701 73.7762 205.655 73.3817 203.675 72.7899C201.695 72.2638 199.649 71.672 197.603 70.8172C197.075 70.62 196.613 70.357 196.085 70.1597C195.425 69.8309 194.897 69.5022 194.435 69.1734C193.511 68.5158 192.653 67.9241 191.861 67.2665C190.277 65.9514 188.759 64.6363 187.241 63.2555C184.271 60.5596 181.499 57.7322 178.793 54.7732L181.235 52.0773L190.805 58.9157C192.389 60.0336 193.973 61.1514 195.557 62.2034C196.349 62.7295 197.141 63.1898 197.867 63.65C198.263 63.8473 198.593 64.0446 198.791 64.1103C199.187 64.2418 199.583 64.4391 199.979 64.5706C203.345 65.6884 207.107 66.4117 210.869 67.0035C214.631 67.5953 218.525 68.0556 222.287 68.4501L221.759 75.7488Z" fill="#E4897B"/>
                                    <path d="M243.672 68.3186C248.226 69.3706 252.78 82.5872 252.78 82.5872L243.408 89.2942C243.408 89.2942 240.768 83.1133 238.194 77.7214C235.62 72.1323 239.052 67.2665 243.672 68.3186Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M243.672 68.3186C248.226 69.3706 252.78 82.5872 252.78 82.5872L243.408 89.2942C243.408 89.2942 240.768 83.1133 238.194 77.7214C235.62 72.1323 239.052 67.2665 243.672 68.3186Z" fill="black"/>
                                    <path d="M241.032 75.5515L239.184 79.694C241.098 83.8366 242.88 87.9133 243.342 89.0311C243.276 84.1653 242.352 78.0502 241.032 75.5515Z" fill="#407BFF"/>
                                    <path opacity="0.6" d="M241.032 75.5515L239.184 79.694C241.098 83.8366 242.88 87.9133 243.342 89.0311C243.276 84.1653 242.352 78.0502 241.032 75.5515Z" fill="black"/>
                                    <path d="M216.546 68.5816C216.546 68.5816 211.398 74.368 216.282 110.335C224.07 110.335 238.392 110.335 242.22 110.335C242.418 106.39 239.91 86.9928 243.738 68.3186C243.738 68.3186 239.316 67.398 235.026 67.2008C231.726 67.0692 226.908 66.9377 224.004 67.2008C220.11 67.5953 216.546 68.5816 216.546 68.5816Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M216.546 68.5816C216.546 68.5816 211.398 74.368 216.282 110.335C224.07 110.335 238.392 110.335 242.22 110.335C242.418 106.39 239.91 86.9928 243.738 68.3186C243.738 68.3186 239.316 67.398 235.026 67.2008C231.726 67.0692 226.908 66.9377 224.004 67.2008C220.11 67.5953 216.546 68.5816 216.546 68.5816Z" fill="black"/>
                                    <path d="M214.631 75.5515C214.433 76.9324 214.301 78.5105 214.235 80.4173C216.347 79.7598 219.053 78.7077 221.429 77.0639L214.631 75.5515Z" fill="#407BFF"/>
                                    <path opacity="0.6" d="M214.631 75.5515C214.433 76.9324 214.301 78.5105 214.235 80.4173C216.347 79.7598 219.053 78.7077 221.429 77.0639L214.631 75.5515Z" fill="black"/>
                                    <path d="M225.72 76.2748C222.222 79.3653 209.022 79.0365 209.022 79.0365L208.56 66.2802C208.56 66.2802 216.084 67.398 222.09 67.2665C229.482 67.135 229.482 72.9214 225.72 76.2748Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M225.72 76.2748C222.222 79.3653 209.022 79.0365 209.022 79.0365L208.56 66.2802C208.56 66.2802 216.084 67.398 222.09 67.2665C229.482 67.135 229.482 72.9214 225.72 76.2748Z" fill="black"/>
                                    <path d="M181.368 52.1431L178.068 48.2636L174.504 52.2088C174.504 52.2088 176.682 55.891 180.18 55.2993L181.368 52.1431Z" fill="#E4897B"/>
                                    <path d="M173.316 43.7265L172.062 48.7896L174.438 52.2088L178.002 48.2636L173.316 43.7265Z" fill="#E4897B"/>
                                    <path d="M223.607 222.052L223.805 227.838H228.689L228.425 222.052H223.607Z" fill="#CE6F64"/>
                                    <path d="M255.551 222.052H250.733L251.987 227.838H256.871L255.551 222.052Z" fill="#CE6F64"/>
                                    <path d="M226.511 44.7128C222.155 42.7402 220.769 33.9949 233.309 36.1648C233.309 36.1648 231.395 38.2689 235.223 39.584C239.051 40.8333 235.883 49.0526 226.511 44.7128Z" fill="#263238"/>
                                    <path d="M235.949 51.2883C234.695 55.891 234.233 58.7185 231.329 60.6253C227.039 63.5185 221.627 60.1651 221.495 55.2993C221.363 50.8937 223.409 44.0553 228.425 43.1347C233.309 42.2142 237.203 46.6855 235.949 51.2883Z" fill="#E4897B"/>
                                    <path d="M233.111 38.4662C236.081 40.11 240.107 41.0963 239.711 43.4635C239.249 46.2909 242.153 44.5156 241.427 48.7896C240.965 51.5513 235.817 59.9678 232.187 59.5733C226.709 58.9815 227.435 50.6307 227.435 46.2909C227.435 43.7265 227.303 35.2442 233.111 38.4662Z" fill="#263238"/>
                                    <path d="M226.776 42.2142C225.456 42.5429 223.674 50.1047 228.822 50.828C234.696 51.5513 226.776 42.2142 226.776 42.2142Z" fill="#263238"/>
                                    <path d="M226.907 44.9101C225.257 45.0416 221.627 43.1347 222.089 40.1758C222.089 40.1758 224.399 43.595 226.907 44.9101Z" fill="#263238"/>
                                    <path d="M229.284 51.354C228.756 52.4718 227.832 53.3924 226.908 53.9184C225.522 54.6417 224.73 53.5897 225.06 52.2088C225.324 50.9595 226.38 49.0526 227.832 48.9211C229.284 48.7238 229.878 50.0389 229.284 51.354Z" fill="#E4897B"/>
                                    <path d="M236.543 46.0279C237.533 45.5019 239.777 44.3841 240.371 41.2279C240.371 41.2279 242.549 47.2772 236.543 46.0279Z" fill="#263238"/>
                                    <path d="M242.088 45.9622C241.626 45.6991 240.504 45.0416 238.92 45.6334C238.92 45.6334 240.966 43.0032 242.088 45.9622Z" fill="#263238"/>
                                    <path d="M225.455 110.335C225.455 110.335 230.933 147.224 233.969 161.098C237.269 176.221 249.743 226.72 249.743 226.72H258.653C258.653 226.72 250.403 177.47 248.555 162.479C246.509 146.172 242.219 110.335 242.219 110.335H225.455Z" fill="#407BFF"/>
                                    <path opacity="0.5" d="M225.455 110.335C225.455 110.335 230.933 147.224 233.969 161.098C237.269 176.221 249.743 226.72 249.743 226.72H258.653C258.653 226.72 250.403 177.47 248.555 162.479C246.509 146.172 242.219 110.335 242.219 110.335H225.455Z" fill="white"/>
                                    <path d="M248.291 223.433C248.225 223.433 249.215 226.852 249.215 226.852H259.181L258.983 223.827L248.291 223.433Z" fill="#407BFF"/>
                                    <path opacity="0.1" d="M248.291 223.433C248.225 223.433 249.215 226.852 249.215 226.852H259.181L258.983 223.827L248.291 223.433Z" fill="black"/>
                                    <path d="M228.888 123.486C235.224 124.736 234.564 148.341 233.838 160.506C231.99 151.892 229.35 135.388 227.502 123.618C227.898 123.486 228.36 123.421 228.888 123.486Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M228.888 123.486C235.224 124.736 234.564 148.341 233.838 160.506C231.99 151.892 229.35 135.388 227.502 123.618C227.898 123.486 228.36 123.421 228.888 123.486Z" fill="white"/>
                                    <path d="M216.216 110.335C216.216 110.335 215.556 146.435 216.084 161.163C216.612 176.484 222.024 226.655 222.024 226.655H230.208C230.208 226.655 230.538 177.405 230.868 162.347C231.264 145.974 233.244 110.335 233.244 110.335H216.216Z" fill="#407BFF"/>
                                    <path opacity="0.5" d="M216.216 110.335C216.216 110.335 215.556 146.435 216.084 161.163C216.612 176.484 222.024 226.655 222.024 226.655H230.208C230.208 226.655 230.538 177.405 230.868 162.347C231.264 145.974 233.244 110.335 233.244 110.335H216.216Z" fill="white"/>
                                    <path d="M223.74 220.802C223.674 220.802 223.674 220.802 223.674 220.737C222.222 206.863 218.79 173.262 218.394 161.229C217.932 148.933 218.328 121.316 218.46 113.163C218.46 113.097 218.526 113.097 218.526 113.097C218.592 113.097 218.592 113.163 218.592 113.163C218.46 121.316 218.064 148.933 218.526 161.229C218.988 173.262 222.354 206.863 223.806 220.737C223.806 220.737 223.806 220.802 223.74 220.802Z" fill="#407BFF"/>
                                    <path opacity="0.4" d="M223.74 220.802C223.674 220.802 223.674 220.802 223.674 220.737C222.222 206.863 218.79 173.262 218.394 161.229C217.932 148.933 218.328 121.316 218.46 113.163C218.46 113.097 218.526 113.097 218.526 113.097C218.592 113.097 218.592 113.163 218.592 113.163C218.46 121.316 218.064 148.933 218.526 161.229C218.988 173.262 222.354 206.863 223.806 220.737C223.806 220.737 223.806 220.802 223.74 220.802Z" fill="white"/>
                                    <path d="M220.439 223.433C220.373 223.433 220.901 226.852 220.901 226.852H230.867L231.131 223.827L220.439 223.433Z" fill="#407BFF"/>
                                    <path opacity="0.1" d="M220.439 223.433C220.373 223.433 220.901 226.852 220.901 226.852H230.867L231.131 223.827L220.439 223.433Z" fill="black"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="295" height="245" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <h2>We received your message!</h2>
                            <p></p>
                            <a href="/" class="great" data-text="Great">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
